body {
    background-color: #c66262;
}
h1 {
    color: #100202;
    text-align: center;
}
h2 {font-family: Arial, sans-serif;
    color: #18a578;
    font-size: 16px;
    line-height: 1.5;
}
p {
    font-family: Arial, sans-serif;
    color: #100202;
    font-size: 14px;
    line-height: 1.5;
}
h1 {
    background-color: yellow;
}
.card {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}