
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #7a0019;
    text-align: center;
}

h2 {
    color: #7a0019;
}


.card {
    background-color: rgb(252, 160, 160);
    border: 2px solid #7a0019;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 3px 8px #ccc;
}


.track-card {
    background-color: #7791f9;
    border: 2px solid #0713f2;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.runner-card {
    background-color: #91e3b6;
    border: 2px solid #15f309;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


nav {
    background-color: #222;
    padding: 10px;
    margin-top: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ffcc00;
}

/* Images */
img {
    max-width: 300px;
    border: 3px solid #7a0019;
    border-radius: 10px;
}

